__pycache__/
*.py[cod]
*$py.class
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/
*.egg
MANIFEST
.venv/
venv/
env/
.tox/
.nox/
.python-version
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.cache/
.ipynb_checkpoints
**/.ipynb_checkpoints/
notebooks/traffic_results/
notebooks/llm_results/
notebooks/test.ipynb
notebooks/bitcoin_price_data.csv
src/FastCCM/data/datasets/
src/fastccm/data/datasets/
src/FastCCM.egg-info/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log